// list Wrapper (Parent Block)
.guten-list-wrapper {
    position: relative;
    width: 100%;

    .guten-list-container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}

// list Item Block
.guten-list-item {
    position: relative;
    margin-bottom: 1rem;
    overflow: hidden;
    transition: all 0.3s ease;
    // list Header
    .list-header {
        position: relative;

        .list-button {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            box-shadow: none;
            padding: 0.75rem 0;
            margin: 0;
            background: transparent;
            border: none !important;
            outline: none !important; // Remove outline
            font-size: 1rem;
            font-weight: 500;
            color: var(--c-text, #333);
            text-align: left;
            cursor: pointer;
            transition: all 0.3s ease;
            gap: 15px;

            // Title Styles
            .list-title {
                font-size: 1rem;
                font-weight: 500;
                color: var(--title-color, #050404);
                margin: 0;
                padding: 0;
                border: none !important;
                outline: none !important;
            }

            // Icon Container
            .list-icons {
                width: 18px;
                height: 18px;
                svg {
                    height: 18px;
                    width: 18px;
                }
                .list-icon {
                    position: absolute;
                    transition: all 0.3s ease;
                    fill: var(--svg-color, #333);

                    // Default: Show Plus, Hide Minus
                    &.gtvb-plus {
                        opacity: 1;
                        visibility: visible;
                    }

                    &.gtvb-minus {
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }

            // Active State: Hide Plus, Show Minus
            &.active {
                .list-icons {
                    .list-icon {
                        &.gtvb-plus {
                            opacity: 0;
                            visibility: hidden;
                        }

                        &.gtvb-minus {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }

    // list Content
    .list-collapse {
        position: relative;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.3s ease;
        .list-body {
            position: relative;
            padding: 0 0 20px 0;
        }

        &.active {
            opacity: 1;
            transition:
                max-height 0.4s ease,
                opacity 0.3s ease;
            max-height: max-content;
            margin-bottom: 1rem;
        }
    }

    .list-collapse.source {
        position: fixed;
        top: 0;
        right: 0;
        width: 400px;
        height: 100%;
        min-height: 100vh;
        background: #fff;
        z-index: 9999999;
        transform: translateX(100%);
        box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        &.active {
            transform: translateX(0);
        }
    }

    .source-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        padding: 1rem;
        box-sizing: border-box;
        border-bottom: 1px solid #ebeced;
        position: sticky;
        top: 0;
        background: #fff;
    }

    span.source-title {
        text-transform: uppercase;
        font-weight: 600;
        color: #001011;
        letter-spacing: 0.05em;
    }

    button#source-close {
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .guten-list-inner-blocks {
        padding: 1rem 1rem 4rem;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

.guten-list-editor-wrapper.source.active:before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(54, 54, 54, 0.4);
    content: '';
    z-index: 9999;
}

// mobile view
@media (max-width: 768px) {
    .guten-list-item .list-collapse.source {
        width: 100%;
        max-width: 85%;
    }
}
