.components-base-control.block-editor-url-input.block-editor-link-control__field.block-editor-link-control__search-input {
    width: 250px !important;
    padding: 0 !important;
    margin: 8px 0px 16px;
    min-width: 250px !important;
}

.gntb-repeat-item {
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

button.gutenbergnative-add-btn {
    padding: 10px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

button.gutenbergnative-remove-btn {
    position: absolute;
    top: -10px;
    right: -14px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #f00;
}

.gntb-badge-preview {
    position: relative;
    width: 100%;
    height: 150px;
    padding: 15px;
}

.gntb-badge-preview img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}