.wp-block-gutenbergnative-result-box {
    background-color: var(--c-bg, #e8f5ed);
    color: var(--c-text);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: visible;
    margin-top: 30px;
    margin-bottom: 15px !important;
    box-sizing: border-box;
    position: relative;

    .pt-0 {
        padding-top: 0 !important;
    }

    .pb-0 {
        padding-bottom: 0 !important;
    }

    .photo {
        position: relative;
    }

    .badge-wrapper {
        position: absolute;
        top: -20px;
        right: 20px;
    }

    .badge-wrapper img {
        max-width: 80px;
        border-radius: 5px;
        overflow: hidden;
    }

    .gn-padding {
        padding: 1.25rem;
    }

    .gn-w-full {
        width: 100%;
    }

    .gap-2 {
        gap: 1.5rem;
    }

    .separator {
        width: 100%;
        height: 1px;
        background: var(--separator-color, #fafafa);
    }

    .subtitle {
        font-size: 14px;
    }

    .description {
        margin: 10px 0;
        font-size: 16px;
    }

    .product-wrapper {
        display: block;
        text-decoration: none;
        position: relative;
    }

    .product-area {
        display: flex;
        align-items: center;
    }

    // Product Review Label
    .label {
        display: inline-block;
        padding: 4px 10px;
        border-radius: 7px;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        background: var(--label-bg, linear-gradient(165deg, #fce8a7, #fed77d 31%, #ffe7b2 50%, #fed77b 71%, #ffedb0));
        color: var(--label-color, #0b6b53);
        box-shadow: 0 1px 3px #0000002b;
    }

    // title
    .title {
        margin: 12px 0 0;
        line-height: 1.3;
        font-size: 25px;
    }
    .price {
        font-size: 16px;
        display: inline-flex;
        gap: 4px;
    }

    // Circle Score
    .circle-score-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 110px;
        height: 110px;
        z-index: 1;
        display: grid;
        margin: 8px;
    }

    .ScoreTotal__Circle {
        grid-column: 1;
        grid-row: 1;
        fill: none;
        width: 110px;
        height: 110px;

        &--outer path {
            stroke: url(#ringGradient);
            stroke-width: 20;
        }

        &--inner {
            path {
                fill: #f2f2f2;
                filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
            }
        }
    }

    .ScoreTotal__Gradient {
        &--start {
            stop-color: #f8bebe;
        }

        &--end {
            stop-color: #2ef284;
        }
    }

    .circle-score {
        grid-column: 1;
        grid-row: 1;
        align-self: center;
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
        z-index: 2;
    }

    span.score-value {
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1;
    }

    span.score-text {
        font-size: 0.625rem;
        line-height: 0.75rem;
        font-weight: 500;
    }
    // score bars
    .rating-bars {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .score-title {
        display: flex;
        align-items: center;
        gap: 6px;
        justify-content: space-between;
    }

    span.bar-title {
        font-size: 0.875rem;
        font-weight: 600;
    }

    span.bar-value {
        font-size: 0.875rem;
    }

    .score {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .score-bar {
        height: 5px;
        background: #ffffff;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }

    .score-bar:before {
        content: '';
        background-image: linear-gradient(to right, #e1e1e1a6 2px, #fff0 0%);
        background-position: -2px center;
        background-size: 10% 5px;
        background-repeat: repeat-x;
        width: calc(100% + 2px);
        position: absolute;
        left: 0;
        z-index: 1;
        height: 100%;
    }

    .score-bar:after {
        content: '';
        width: var(--percentage);
        background-color: var(--c-primary, #6cd78f);
        left: 0;
        position: absolute;
        height: 100%;
    }

    li.list-item {
        display: flex;
        align-items: flex-start;
        gap: 30px;
        list-style: none;
        padding: 15px 10px;
        border-bottom: 1px solid var(--separator-color, #fafafa);
        font-size: 1rem;
    }

    .pc-heading {
        font-size: 1.2rem;
        font-weight: 500;
        margin: 0;
    }

    .pc-row {
        width: calc(100% - 15px);
        display: flex;
        align-items: flex-start;
        gap: 8px;
        svg {
            width: 16px;
            min-width: 16px;
            height: 16px;
            margin-top: 5px;

            &.crossmark {
                width: 14px;
                height: 14px;
                min-width: 14px;
            }
        }

        .list-label-text {
            flex: 1;
        }
    }

    .pc-row button.remove {
        background: none;
        border: 1px solid #f00;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
    }
    .pros svg path {
        fill: var(--checkmar-color, #0d7b28);
    }
    .cons svg path {
        fill: var(--crossmar-color, #d64f4f);
    }

    .pc-row button.remove svg {
        width: 13px !important;
        height: 13px !important;
        margin-top: 0 !important;
    }

    .pros-cons-area {
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
    }

    .pros-cons-area.dt-visible:after {
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        background: var(--separator-color, #fafafa);
        top: 0;
        left: 50%;
        margin-left: -0.5px;
    }

    // Button
    a.gn-btn {
        display: inline-block;
        background: var(--btn-bg, #008060);
        color: var(--btn-color, #fff);
        text-decoration: none;
        text-align: center;
        padding: 15px 30px;
        border-radius: 4px;
        font-size: 1rem;
        font-weight: 400;
        transition: 0.2s;
    }

    .btn-wrapper {
        text-align: center;
        padding: 20px 0;
        &.secondary {
            padding-bottom: 0;
        }
    }

    a.gn-btn:hover {
        opacity: 0.9;
    }
    .conclusion-title {
        font-size: 23px;
    }

    // Score Total Circle
    .ScoreTotal__Circle path {
        color: var(--svg-color, #f2f2f2);
    }

    .ScoreTotal__CircleWrapper {
        display: grid;
        position: relative;
        text-align: center;
    }

    .ScoreTotal__Circle {
        grid-column: 1;
        grid-row: 1;
        fill: none;

        &--outer path {
            stroke: url(#ringGradient);
            stroke-width: 20;
        }

        &--inner {
            color: var(--c-surface-subdued);
        }
    }

    .ScoreTotal__Gradient {
        &--start {
            stop-color: var(--gradient-start, #f8bebe);
        }

        &--end {
            stop-color: var(--gradient-end, #2ef284);
        }
    }

    .ScoreTotal__Label {
        align-self: center;
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
        position: relative;
    }

    .ScoreTotal__LabelNumber {
        font-size: 1.25em;
        font-weight: 600;
        line-height: 1em;
        margin-bottom: 6px;
    }

    .ScoreTotal__LabelText {
        font-size: 0.625em;
        line-height: 0.75em;
        font-weight: 500;
    }

    // visibility
    .mb-visible {
        display: none !important;
    }
    .header-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    .TestWinnerBadge {
        font-size: 8px;
        background-color: #f9d356;
        padding: 0.5em;
        width: fit-content;
        color: #000;
        border-radius: 0.5em;
        overflow: hidden;
        position: relative;
        z-index: 1;
        line-height: normal;
        margin-top: -40px;
        align-self: start;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
        flex-shrink: 0;

        &::before {
            content: '';
            width: calc(100% - 1em);
            height: 9em;
            position: absolute;
            top: -9em;
            border-radius: 50%;
            box-shadow: 0 0 2.25em 3em #ffffffe7;
            z-index: -1;
        }
    }

    .TestWinnerBadge__OuterBox {
        border: 0.125em solid #000;
        border-radius: 0.5em;
        display: grid;
        grid-template-columns: [column-start] 50px [column2-start] 64px [column-end];
        grid-template-rows: [row-start] auto [row2-start] auto [row3-start] auto [row-end];
    }

    .TestWinnerBadge__UpperText {
        grid-column-start: column-start;
        grid-column-end: span column-end;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.75em;
        padding: 0.5em 0.25em;
        text-align: center;
    }

    .TestWinnerBadge__Quarree {
        background-color: #fff;
        padding: 1em 0.75em;
        border-top: 0.125em solid #000;

        &--UL {
            background-color: #000;
            color: #fff;
            font-size: 0.8125em;
            font-weight: 700;
            letter-spacing: 0.0625em;
            border-right: 0.125em solid #000;
        }

        &--UR {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 0.8125em;
            letter-spacing: 0.0625em;
        }

        &--DL {
            background-color: var(--badge-bg, #e70707);
            color: #fff;
            border-radius: 0 0 0 0.3125em;
            display: flex;
            gap: 0.5em;
            flex-direction: column;
            text-transform: uppercase;
            border-right: 0.125em solid #000;
        }

        &--DR {
            padding: 1em 0.25em;
            border-radius: 0 0 0.3125em 0;
            display: flex;
            gap: 0.5em;
            flex-direction: column;
        }
    }

    .TestWinnerBadge__GVDLogo {
        width: 3.5em;
    }

    .TestWinnerBadge__GVDName {
        font-size: 5px;
        font-weight: 700;
        color: var(--badge-color);
    }

    .TestWinnerBadge__Criteria {
        font-size: 6px;
    }

    .TestWinnerBadge__Edition {
        font-size: 6px;
        font-weight: 700;
        margin-top: auto;
    }

    .TestWinnerBadge__Url {
        font-size: 4.5px;
        & a {
            text-decoration: none;
        }
    }
}

// Mobile view
@media (max-width: 767px) {
    .wp-block-gutenbergnative-result-box {
        margin-left: -15px;
        margin-right: -15px;

        .badge-wrapper img {
            max-width: 50px;
        }

        .product-area {
            flex-direction: column;
        }

        .dt-visible {
            display: none !important;
        }

        .mb-visible {
            display: block !important;
        }
    }
}
