.gntb-repeat-item {
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

button.gutenbergnative-add-btn {
    padding: 10px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

button.gutenbergnative-remove-btn {
    position: absolute;
    top: -10px;
    right: -14px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #f00;
}
