.gtvb-key-feature-item {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 10px;
}

.gtvb-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    position: relative;
}

.gtvb-preview-image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        max-width: 75%;
        max-height: 75%;
        object-fit: contain;
    }
}

button.button.gtvb-change-icon-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    width: 32px !important;
}
