.gutenbergnative-linked-control {
    margin: 8px 0 16px;
    .components-base-control {
        margin-bottom: 0 !important;
    }

    .gutenbergnative-link-extra-btn {
        padding: 4px !important;
        border: 1px solid #949494;
        height: auto;
        border-radius: 2px;
        height: 36px;
    }

    .gutenbergnative-link-extra-btn span {
        font-size: 16px;
        display: block;
        line-height: 20px;
    }

    .gutenbergnative-link-extra-btn.gutenbergnative-le-active {
        color: #2563eb;
    }
}

// Popover
.gutenbergnative-link-extra-popover {
    width: 240px;
    padding: 10px;
    box-sizing: border-box;

    .components-flex {
        flex-direction: row-reverse;
    }

    .components-toggle-control {
        &:last-child {
            margin-bottom: 0 !important;
        }
    }
    .components-form-toggle .components-form-toggle__input:focus + .components-form-toggle__track {
        box-shadow: none !important;
        outline: none !important;
    }

    .components-form-toggle.is-checked .components-form-toggle__track {
        background-color: #2563eb !important;
    }
}

.gutenbergnative-link-toolbar-popover {
    .components-popover__content {
        width: 320px;
        padding: 15px;
        .components-text-control__input {
            height: 36px !important;
            border: 1px solid #ccc !important;
        }
    }
}
